footer {
  background: var(--white300);
  text-align: center;
}

footer h2 {
  margin-bottom: 60px;
}

form .campo {
  border: 1px solid var(--bgSite);
  border-radius: 4px;
  background: var(--white);
  padding: 10px;
  transition: border .5s ease-in-out;
}

form .campo:focus {
  border-color: var(--buttonColor);
}