header {
  background: var(--white300);
  height: 100vh;
}

header .conteinerConteudo {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}

header .texto {
  display: flex; 
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

header .textoDestaque {
  color: var(--buttonColor);
}

header .imagem {
  width: 25rem;
}